In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, TimestampType

# T·∫°o SparkSession
spark = SparkSession.builder \
    .appName("Video Analysis") \
    .getOrCreate()


# ƒê·ªãnh nghƒ©a schema m·ªõi
video_schema = StructType([
    StructField("Video ID", StringType(), True),
    StructField("Title", StringType(), True),
    StructField("Category_ID", IntegerType(), True),
    StructField("Published At", TimestampType(), True),
    StructField("Channel Title", StringType(), True),
    StructField("View Count", IntegerType(), True),
    StructField("Like Count", IntegerType(), True),
    StructField("Comment Count", IntegerType(), True),
])

# ƒê·ªçc file CSV v·ªõi schema m·ªõi
file_path = "video.csv"
df = spark.read.option("header", "true").schema(video_schema).csv(file_path)

# Ki·ªÉm tra schema v√† hi·ªÉn th·ªã d·ªØ li·ªáu
df.printSchema()
df.show()
# Ki·ªÉm tra s·ªë h√†ng v√† c·ªôt
print(f"S·ªë h√†ng: {df.count()}, S·ªë c·ªôt: {len(df.columns)}")

root
 |-- Video ID: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Category_ID: integer (nullable = true)
 |-- Published At: timestamp (nullable = true)
 |-- Channel Title: string (nullable = true)
 |-- View Count: integer (nullable = true)
 |-- Like Count: integer (nullable = true)
 |-- Comment Count: integer (nullable = true)

+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+
|   Video ID|               Title|Category_ID|       Published At|   Channel Title|View Count|Like Count|Comment Count|
+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+
|N-gpD9QqTK0|N·∫•u ƒë√°m ti·ªác ki·ªÉu...|         19|2024-12-01 17:44:37|Khoai Lang Thang|   1520244|     37496|         1969|
|M_WD9Dxayk8|ƒê·∫øn nh√† ng∆∞·ªùi l·∫° ...|         19|2024-11-17 18:57:32|Khoai Lang Thang|   1602732|     28690|         1378|
|5AJd2FJUVkc|ƒÇn 10 m√≥n l·∫° ·ªü kh...|         19|2024-11-05 20:27:52|Khoai Lang Thang|   2130532|     29506|         1236|
|92-IbWKp_3k|G·∫∑p n·∫°n ·ªü CH·ª¢ TR·ªú...|         19|2024-10-27 18:52:00|Khoai Lang Thang|   1779109|     24698|         1794|
|MLBhMV8k6e0|Du l·ªãch ·∫©m th·ª±c C...|         19|2024-10-16 21:05:48|Khoai Lang Thang|   2031031|     28867|         1248|
|cJD4fc5l3fM|Ch√¢u Phi p8: H√ÄNG...|         19|2024-09-29 18:04:10|Khoai Lang Thang|   2925686|     35972|         1625|
|mzeh6lWhFi4|Du l·ªãch Ch√¢u Phi ...|         19|2024-09-10 19:31:20|Khoai Lang Thang|   2733586|     34429|         1541|
|NgaZHtCr_a0|Theo ng∆∞·ªùi l·∫° v∆∞·ª£...|         19|2024-08-25 14:48:07|Khoai Lang Thang|   3437252|     51824|         2245|
|oL9OX4e2Kl4|T√¨m ƒÉn tr√°i th·∫ßn ...|         19|2024-08-12 00:40:29|Khoai Lang Thang|   3584002|     45841|         2445|
|IJ24VtLd1jU|2 ng√†y 1 ƒë√™m kh√¥n...|         19|2024-08-07 22:49:32|Khoai Lang Thang|   3282410|     35258|         1397|
|xEnYZ55FCG8|Ch·ª£ tr·ªùi Ch√¢u Phi...|         19|2024-08-01 20:25:56|Khoai Lang Thang|   5242930|     49466|         2993|
|aoFeasRsiyk|·∫®m th·ª±c ƒë∆∞·ªùng ph·ªë...|         19|2024-07-10 17:03:36|Khoai Lang Thang|   2890252|     38724|         1863|
|0Q8fkicguR8|Du l·ªãch Ch√¢u Phi ...|         19|2024-07-03 20:24:10|Khoai Lang Thang|   2145024|     34792|         1587|
|E-JMv4ebt18|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-05-16 17:08:36|Khoai Lang Thang|   1204102|     27169|          881|
|7v7EBziokmM|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-05-03 19:20:37|Khoai Lang Thang|   1787991|     22571|          917|
|7TdSEX4JFdw|Thi√™n ƒë∆∞·ªùng c√°m d...|         19|2024-04-20 20:13:17|Khoai Lang Thang|   2819656|     35112|         1269|
|5cW2Kj4_7HY|Cho√°ng ng·ª£p thung...|         19|2024-04-09 15:34:06|Khoai Lang Thang|   2872164|     34458|         1859|
|FDMDKktG75I|L·∫∑n bi·ªÉn t√¨m h·∫£i ...|         19|2024-03-31 22:27:10|Khoai Lang Thang|   3354618|     32408|         1167|
|NTEgu8uWS1I|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-03-30 21:35:47|Khoai Lang Thang|   2116107|     35121|         1943|
|rMBaVOW4AE8|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-03-23 15:37:08|Khoai Lang Thang|   3503158|     51271|         2076|
+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+
only showing top 20 rows

S·ªë h√†ng: 284, S·ªë c·ªôt: 8

In [17]:
# Ki·ªÉm tra s·ªë l∆∞·ª£ng gi√° tr·ªã null m·ªói c·ªôt


# Lo·∫°i b·ªè gi√° tr·ªã null (n·∫øu c·∫ßn)
df_clean = df.dropna()

In [18]:
df_clean.printSchema()

root
 |-- Video ID: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Category_ID: integer (nullable = true)
 |-- Published At: timestamp (nullable = true)
 |-- Channel Title: string (nullable = true)
 |-- View Count: integer (nullable = true)
 |-- Like Count: integer (nullable = true)
 |-- Comment Count: integer (nullable = true)

In [19]:
df_clean.show()
print(f"S·ªë h√†ng: {df_clean.count()}, S·ªë c·ªôt: {len(df_clean.columns)}")

+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+
|   Video ID|               Title|Category_ID|       Published At|   Channel Title|View Count|Like Count|Comment Count|
+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+
|N-gpD9QqTK0|N·∫•u ƒë√°m ti·ªác ki·ªÉu...|         19|2024-12-01 17:44:37|Khoai Lang Thang|   1520244|     37496|         1969|
|M_WD9Dxayk8|ƒê·∫øn nh√† ng∆∞·ªùi l·∫° ...|         19|2024-11-17 18:57:32|Khoai Lang Thang|   1602732|     28690|         1378|
|5AJd2FJUVkc|ƒÇn 10 m√≥n l·∫° ·ªü kh...|         19|2024-11-05 20:27:52|Khoai Lang Thang|   2130532|     29506|         1236|
|92-IbWKp_3k|G·∫∑p n·∫°n ·ªü CH·ª¢ TR·ªú...|         19|2024-10-27 18:52:00|Khoai Lang Thang|   1779109|     24698|         1794|
|MLBhMV8k6e0|Du l·ªãch ·∫©m th·ª±c C...|         19|2024-10-16 21:05:48|Khoai Lang Thang|   2031031|     28867|         1248|
|cJD4fc5l3fM|Ch√¢u Phi p8: H√ÄNG...|         19|2024-09-29 18:04:10|Khoai Lang Thang|   2925686|     35972|         1625|
|mzeh6lWhFi4|Du l·ªãch Ch√¢u Phi ...|         19|2024-09-10 19:31:20|Khoai Lang Thang|   2733586|     34429|         1541|
|NgaZHtCr_a0|Theo ng∆∞·ªùi l·∫° v∆∞·ª£...|         19|2024-08-25 14:48:07|Khoai Lang Thang|   3437252|     51824|         2245|
|oL9OX4e2Kl4|T√¨m ƒÉn tr√°i th·∫ßn ...|         19|2024-08-12 00:40:29|Khoai Lang Thang|   3584002|     45841|         2445|
|IJ24VtLd1jU|2 ng√†y 1 ƒë√™m kh√¥n...|         19|2024-08-07 22:49:32|Khoai Lang Thang|   3282410|     35258|         1397|
|xEnYZ55FCG8|Ch·ª£ tr·ªùi Ch√¢u Phi...|         19|2024-08-01 20:25:56|Khoai Lang Thang|   5242930|     49466|         2993|
|aoFeasRsiyk|·∫®m th·ª±c ƒë∆∞·ªùng ph·ªë...|         19|2024-07-10 17:03:36|Khoai Lang Thang|   2890252|     38724|         1863|
|0Q8fkicguR8|Du l·ªãch Ch√¢u Phi ...|         19|2024-07-03 20:24:10|Khoai Lang Thang|   2145024|     34792|         1587|
|E-JMv4ebt18|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-05-16 17:08:36|Khoai Lang Thang|   1204102|     27169|          881|
|7v7EBziokmM|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-05-03 19:20:37|Khoai Lang Thang|   1787991|     22571|          917|
|7TdSEX4JFdw|Thi√™n ƒë∆∞·ªùng c√°m d...|         19|2024-04-20 20:13:17|Khoai Lang Thang|   2819656|     35112|         1269|
|5cW2Kj4_7HY|Cho√°ng ng·ª£p thung...|         19|2024-04-09 15:34:06|Khoai Lang Thang|   2872164|     34458|         1859|
|FDMDKktG75I|L·∫∑n bi·ªÉn t√¨m h·∫£i ...|         19|2024-03-31 22:27:10|Khoai Lang Thang|   3354618|     32408|         1167|
|NTEgu8uWS1I|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-03-30 21:35:47|Khoai Lang Thang|   2116107|     35121|         1943|
|rMBaVOW4AE8|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-03-23 15:37:08|Khoai Lang Thang|   3503158|     51271|         2076|
+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+
only showing top 20 rows

S·ªë h√†ng: 284, S·ªë c·ªôt: 8

In [20]:
# M√¥ t·∫£ th·ªëng k√™
df_clean.describe().show()

# Th·ªëng k√™ l∆∞·ª£t xem (views)

+-------+-----------+--------------------+------------------+----------------+------------------+------------------+------------------+
|summary|   Video ID|               Title|       Category_ID|   Channel Title|        View Count|        Like Count|     Comment Count|
+-------+-----------+--------------------+------------------+----------------+------------------+------------------+------------------+
|  count|        284|                 284|               284|             284|               284|               284|               284|
|   mean|       NULL|                NULL|19.433098591549296|            NULL|2267935.3767605633|26922.975352112677|1581.9788732394366|
| stddev|       NULL|                NULL|2.2633419685435197|            NULL|1518302.5854609765| 16322.17740844484|1292.2597402616855|
|    min|-VfFP4zpkZo|"""T·∫øt Kate"" ·ªü V...|                10|Khoai Lang Thang|             59105|               960|                66|
|    max|zs9xbXCOT6Y|üáπüá≠ƒêi v·ªÅ ph∆∞∆°ng ...|                24|Khoai Lang Thang|           8107261|            137707|             13160|
+-------+-----------+--------------------+------------------+----------------+------------------+------------------+------------------+

- T·∫°o b·∫£ng ƒë·ªÉ s·ª≠ d·ª•ng spark sql

In [21]:
from pyspark.sql import SparkSession
df_clean.createOrReplaceTempView("video")

1.2. T√≠nh t·ªïng l∆∞·ª£t xem, t·ªïng s·ªë l∆∞·ª£ng video theo m·ªói category

1.2.1 T·ªîng l∆∞·ª£t xem c·ªßa m·ªói category

- S·ª≠ d·ª•ng spark dataframe

In [22]:
from pyspark.sql.functions import col, sum

# Chuy·ªÉn c·ªôt "View Count" sang ki·ªÉu Integer
df_clean = df_clean.withColumn("View Count", col("View Count").cast("int"))

# Th·ª±c hi·ªán nh√≥m v√† t√≠nh t·ªïng s·ªë video theo category
df_category=df_clean.groupBy("Category_ID") \
                    .agg(sum("View Count").alias("Total Views")) \
                    .orderBy(col("Total Views").desc()) 
df_category.show()

+-----------+-----------+
|Category_ID|Total Views|
+-----------+-----------+
|         19|  590550047|
|         24|   36836146|
|         10|   11178060|
|         22|    5077519|
|         15|     451875|
+-----------+-----------+

- S·ª≠ d·ª•ng spark sql

In [23]:
from pyspark.sql.functions import col, sum

spark.sql("""select 
                Category_ID, 
                sum(`View Count`) as Total_view
            from 
                Video 
            group by 
                Category_ID
            order by 
                Total_view""").show()

+-----------+----------+
|Category_ID|Total_view|
+-----------+----------+
|         15|    451875|
|         22|   5077519|
|         10|  11178060|
|         24|  36836146|
|         19| 590550047|
+-----------+----------+

1.2.2. S·ªë l∆∞·ª£ng video c·ªßa m·ªói category

- S·ª≠ d·ª•ng spark dataframe

In [24]:
from pyspark.sql.functions import count

# Nh√≥m d·ªØ li·ªáu theo Category_ID v√† sau ƒë√≥ ƒë·∫øm s·ªë l·∫ßn xu·∫•t hi·ªán c·ªßa Video ID
df_category_video=df_clean.groupBy("Category_ID") \
    .agg(count("Video ID").alias("Video Count")) \
    .orderBy(col("Video Count").desc()) 
df_category_video.show()

+-----------+-----------+
|Category_ID|Video Count|
+-----------+-----------+
|         19|        236|
|         24|         35|
|         10|          7|
|         22|          5|
|         15|          1|
+-----------+-----------+

- S·ª≠ d·ª•ng spark sql

In [48]:
from pyspark.sql.functions import count

spark.sql("""select 
                Category_ID, 
                count(`Video ID`) as Video_count
            from 
                Video 
            group by 
                Category_ID
            order by 
                Video_count desc""").show()

+-----------+-----------+
|Category_ID|Video_count|
+-----------+-----------+
|         19|        236|
|         24|         35|
|         10|          7|
|         22|          5|
|         15|          1|
+-----------+-----------+

1.3. T√¨m top 10 video c√≥ l∆∞·ª£t xem cao nh·∫•t, video c√≥ l∆∞·ª£t like cao nh·∫•t, s·ªë l∆∞·ª£ng comment cao nh·∫•t

1.3.1. 10 video c√≥ l∆∞·ª£t xem cao nh·∫•t

- S·ª≠ d·ª•ng spark dataframe

In [26]:


Top_10_video_view=df_clean.select(col("Video ID"),col("Title"), col("View Count"))\
                        .orderBy(col("View Count"),ascending=False)\
                        .limit(10)
Top_10_video_view.show()

+-----------+--------------------+----------+
|   Video ID|               Title|View Count|
+-----------+--------------------+----------+
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|   8107261|
|5QCsAh9Eays|ƒÇN NGON & R·∫∫ KH√îN...|   7891063|
|3i3cDuGayqg|üá∞üá∑Ch·ª£ Gwangjang...|   7680470|
|O8nVnHlmhCM|CH·ª¢ CH√ÇU ƒê·ªêC ‚Ä¢ TH...|   7403760|
|hK-s3LsZcFc|üáπüá≠Ch·ª£ ƒë√™m bi√™n ...|   6804373|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|   6516807|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|   6045537|
|7txU8f9Dl5c|ƒÇN BUFFET 5 SAO ·ªû...|   5891310|
|p_u50y858kY|N·∫•u ƒê√ÅM GI·ªñ t·ª´ ba...|   5738110|
|zc3A_CxSyc4|N·∫•u ƒë√°m mi·ªát v∆∞·ªùn...|   5575163|
+-----------+--------------------+----------+

- S·ª≠ d·ª•ng spark sql

In [27]:
spark.sql("""
            SELECT 
                `Video ID`, 
                `Title`,
                `View Count`
            FROM 
                Video 
            ORDER BY 
                `View Count` DESC 
            LIMIT 10
        """).show()

+-----------+--------------------+----------+
|   Video ID|               Title|View Count|
+-----------+--------------------+----------+
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|   8107261|
|5QCsAh9Eays|ƒÇN NGON & R·∫∫ KH√îN...|   7891063|
|3i3cDuGayqg|üá∞üá∑Ch·ª£ Gwangjang...|   7680470|
|O8nVnHlmhCM|CH·ª¢ CH√ÇU ƒê·ªêC ‚Ä¢ TH...|   7403760|
|hK-s3LsZcFc|üáπüá≠Ch·ª£ ƒë√™m bi√™n ...|   6804373|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|   6516807|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|   6045537|
|7txU8f9Dl5c|ƒÇN BUFFET 5 SAO ·ªû...|   5891310|
|p_u50y858kY|N·∫•u ƒê√ÅM GI·ªñ t·ª´ ba...|   5738110|
|zc3A_CxSyc4|N·∫•u ƒë√°m mi·ªát v∆∞·ªùn...|   5575163|
+-----------+--------------------+----------+

1.3.2. Top 10 video c√≥ l∆∞·ª£t like cao nh·∫•t

- S·ª≠ d·ª•ng spark dataframe

In [28]:
Top_10_video_like=df_clean.select(col("Video ID"),col("Title"), col("Like Count"))\
                        .orderBy(col("Like Count"),ascending=False)\
                        .limit(10)
Top_10_video_like.show()

+-----------+--------------------+----------+
|   Video ID|               Title|Like Count|
+-----------+--------------------+----------+
|TrbtMqHSmcc|800 NG√ÄY ƒêI KH·∫ÆP ...|    137707|
|wjDs5zwRlMA|(Official Music V...|     93884|
|36ms9Si7f8I|XIN L·ªñI - KHOAI |...|     92510|
|T02aU8qpshQ|10 nƒÉm & B√ç M·∫¨T C...|     88221|
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|     78135|
|a0RLS40Qh-A|Vi·ªát Nam chuy·ªán c...|     63578|
|MZxiqm-JkfY|B√°nh ƒë√∫c th·ªß c√¥ng...|     62743|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|     61219|
|3i3cDuGayqg|üá∞üá∑Ch·ª£ Gwangjang...|     57065|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|     55756|
+-----------+--------------------+----------+

- S·ª≠ d·ª•ng spark sql

In [29]:
spark.sql("""
            SELECT 
                `Video ID`, 
                `Title`,
                `Like Count`
            FROM 
                Video 
            ORDER BY 
                `Like Count` DESC 
            LIMIT 10
        """).show()

+-----------+--------------------+----------+
|   Video ID|               Title|Like Count|
+-----------+--------------------+----------+
|TrbtMqHSmcc|800 NG√ÄY ƒêI KH·∫ÆP ...|    137707|
|wjDs5zwRlMA|(Official Music V...|     93884|
|36ms9Si7f8I|XIN L·ªñI - KHOAI |...|     92510|
|T02aU8qpshQ|10 nƒÉm & B√ç M·∫¨T C...|     88221|
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|     78135|
|a0RLS40Qh-A|Vi·ªát Nam chuy·ªán c...|     63578|
|MZxiqm-JkfY|B√°nh ƒë√∫c th·ªß c√¥ng...|     62743|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|     61219|
|3i3cDuGayqg|üá∞üá∑Ch·ª£ Gwangjang...|     57065|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|     55756|
+-----------+--------------------+----------+

1.3.3. Top 10 video c√≥ l∆∞·ª£t comment cao nh·∫•t

- S·ª≠ d·ª•ng spark dataframe

In [30]:
Top_10_video_comment=df_clean.select(col("Video ID"),col("Title"), col("Comment Count"))\
                        .orderBy(col("Comment Count"),ascending=False)\
                        .limit(10)
Top_10_video_comment.show()

+-----------+--------------------+-------------+
|   Video ID|               Title|Comment Count|
+-----------+--------------------+-------------+
|TrbtMqHSmcc|800 NG√ÄY ƒêI KH·∫ÆP ...|        13160|
|36ms9Si7f8I|XIN L·ªñI - KHOAI |...|         9190|
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|         6202|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|         5589|
|4V4KjfmH5vw|ƒê·∫∂C S·∫¢N QU√ù HI·∫æM ...|         5537|
|wjDs5zwRlMA|(Official Music V...|         4823|
|T02aU8qpshQ|10 nƒÉm & B√ç M·∫¨T C...|         4708|
|a0RLS40Qh-A|Vi·ªát Nam chuy·ªán c...|         4449|
|5QCsAh9Eays|ƒÇN NGON & R·∫∫ KH√îN...|         4431|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|         4366|
+-----------+--------------------+-------------+

- S·ª≠ d·ª•ng spark sql

In [31]:
spark.sql("""
            SELECT 
                `Video ID`, 
                `Title`,
                `Comment Count`
            FROM 
                Video 
            ORDER BY 
                `Comment Count` DESC 
            LIMIT 10
        """).show()

+-----------+--------------------+-------------+
|   Video ID|               Title|Comment Count|
+-----------+--------------------+-------------+
|TrbtMqHSmcc|800 NG√ÄY ƒêI KH·∫ÆP ...|        13160|
|36ms9Si7f8I|XIN L·ªñI - KHOAI |...|         9190|
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|         6202|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|         5589|
|4V4KjfmH5vw|ƒê·∫∂C S·∫¢N QU√ù HI·∫æM ...|         5537|
|wjDs5zwRlMA|(Official Music V...|         4823|
|T02aU8qpshQ|10 nƒÉm & B√ç M·∫¨T C...|         4708|
|a0RLS40Qh-A|Vi·ªát Nam chuy·ªán c...|         4449|
|5QCsAh9Eays|ƒÇN NGON & R·∫∫ KH√îN...|         4431|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|         4366|
+-----------+--------------------+-------------+

1.4. S·ªë l∆∞·ª£ng video ƒëƒÉng t·∫£i m·ªói nƒÉm

- S·ª¨ d·ª•ng dataframe

In [32]:
from pyspark.sql.functions import year, month

# Th√™m c·ªôt nƒÉm, th√°ng n·∫øu c√≥ c·ªôt ng√†y ph√°t h√†nh
df_clean = df_clean.withColumn("year", year(col("Published At"))) \
                   .withColumn("month", month(col("Published At")))

# S·ªë l∆∞·ª£ng video theo nƒÉm
df_count_video_year=df_clean.groupBy("year").count().orderBy("year")
df_count_video_year.show()

+----+-----+
|year|count|
+----+-----+
|2017|   48|
|2018|   58|
|2019|   50|
|2020|   28|
|2021|   16|
|2022|   26|
|2023|   35|
|2024|   23|
+----+-----+

- S·ª≠ d·ª•ng spark sql

In [33]:
from pyspark.sql.functions import year, month


spark.sql("""
            SELECT 
                YEAR(`Published At`) as Year, 
                SUM(`View Count`) as Total_view
            FROM 
                Video 
            GROUP BY 
                YEAR(`Published At`)
            ORDER BY 
                YEAR(`Published At`) DESC 
        """).show()

+----+----------+
|Year|Total_view|
+----+----------+
|2024|  64707611|
|2023|  97253424|
|2022|  75388408|
|2021|  38998764|
|2020|  68516080|
|2019| 107469646|
|2018| 137904607|
|2017|  53855107|
+----+----------+

1.5. T·∫°o partition l·ªçc d·ªØ li·ªáu theo nƒÉm, th√°ng

In [34]:
output="D:/Big Data Analysis/cuoiki/get_api/partition"
df_clean.write.partitionBy("year", "month") \
    .mode("overwrite") \
    .parquet(output)

In [35]:
df_partitioned = spark.read.parquet("partition")

# Ki·ªÉm tra schema (c√°c c·ªôt year, month s·∫Ω ƒë∆∞·ª£c t·ª± ƒë·ªông th√™m)
df_partitioned.printSchema()

# Truy v·∫•n d·ªØ li·ªáu
df_partitioned.filter("year = 2024 AND month = 3").show()

root
 |-- Video ID: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Category_ID: integer (nullable = true)
 |-- Published At: timestamp (nullable = true)
 |-- Channel Title: string (nullable = true)
 |-- View Count: integer (nullable = true)
 |-- Like Count: integer (nullable = true)
 |-- Comment Count: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+----+-----+
|   Video ID|               Title|Category_ID|       Published At|   Channel Title|View Count|Like Count|Comment Count|year|month|
+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+----+-----+
|FDMDKktG75I|L·∫∑n bi·ªÉn t√¨m h·∫£i ...|         19|2024-03-31 22:27:10|Khoai Lang Thang|   3354618|     32408|         1167|2024|    3|
|NTEgu8uWS1I|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-03-30 21:35:47|Khoai Lang Thang|   2116107|     35121|         1943|2024|    3|
|rMBaVOW4AE8|Du l·ªãch M·ªπ t·ª± t√∫c...|         19|2024-03-23 15:37:08|Khoai Lang Thang|   3503158|     51271|         2076|2024|    3|
+-----------+--------------------+-----------+-------------------+----------------+----------+----------+-------------+----+-----+

1.6 T·ªâ l·ªá t∆∞∆°ng t√°c theo video

- S·ª≠ d·ª•ng spark dataframe

In [36]:
df_tuong_tac = df_clean.selectExpr("`Video ID`",\
                                   "Title",\
                                   "(`Like Count` + `Comment Count`) / `View Count` as Ti_le_tuong_tac")\
                        .orderBy("Ti_le_tuong_tac", ascending=False)

df_tuong_tac.show()

+-----------+--------------------+--------------------+
|   Video ID|               Title|     Ti_le_tuong_tac|
+-----------+--------------------+--------------------+
|XdbjuI86zhM|H√†nh tr√¨nh x√¢y 30...| 0.07914200821377348|
|a0RLS40Qh-A|Vi·ªát Nam chuy·ªán c...| 0.07401455549595638|
|36ms9Si7f8I|XIN L·ªñI - KHOAI |...| 0.05627321892772128|
|q5EPifZQK8I|BALI DU K√ù |Du l·ªã...| 0.05039767513000918|
|xXTcKSxGClQ|Khoai ƒëi l√†m nh√¢n...| 0.04872383460159695|
|TrbtMqHSmcc|800 NG√ÄY ƒêI KH·∫ÆP ...| 0.04163283890996895|
|wjDs5zwRlMA|(Official Music V...| 0.03859600280123764|
|kL-XgVsV8EI|Chiang Mai - Khoa...| 0.03678875611256841|
|zMn9mithu84|Bi·ªÉn hoa kh·ªïng l·ªì...| 0.03601119164946227|
|CnlXly4_b9Y|K·ª∑ ni·ªám 1000 subs...|0.032958957796567115|
|quZy6AhGmEc|KHOAI LANG THANG ...|0.032448847884032295|
|OWlik0yAwoc|Cu·ªôc s·ªëng B·∫£n Ph√π...| 0.03187260153091588|
|JYULx2AItoI|(Lofi Ver.) 'em v...| 0.03140695915279879|
|SYcnSZfXwWw|Em vaÃÄ NhuÃõÃÉng Ng...|0.030660321797922212|
|RvMcyBS8SgU|N·∫•u Buffet cho em...|0.030424938025804687|
|5ta7YnZ1K_o|Kh√°m ph√° S∆°n La, ...|0.030185685932506125|
|V_2_CPiTDR4|N·∫•u ti·ªác Mi·ªÅn T√¢y...|  0.0295407755862526|
|T02aU8qpshQ|10 nƒÉm & B√ç M·∫¨T C...| 0.02926931746921145|
|SLpU2LGv54g|(Official MV) Em ...|0.029211199642519933|
|wX-TrSDnAys|Ti·ªác n∆∞·ªõng d√£ chi...| 0.02893649585103135|
+-----------+--------------------+--------------------+
only showing top 20 rows

- S·ª≠ d·ª•ng spark sql

In [37]:
spark.sql("""
            SELECT 
                `Video ID`, Title,
                (`Like Count` + `Comment Count`) / `View Count` as Ti_le_tuong_tac
            FROM 
                Video 
            ORDER BY 
                Ti_le_tuong_tac DESC 
        """).show()

+-----------+--------------------+--------------------+
|   Video ID|               Title|     Ti_le_tuong_tac|
+-----------+--------------------+--------------------+
|XdbjuI86zhM|H√†nh tr√¨nh x√¢y 30...| 0.07914200821377348|
|a0RLS40Qh-A|Vi·ªát Nam chuy·ªán c...| 0.07401455549595638|
|36ms9Si7f8I|XIN L·ªñI - KHOAI |...| 0.05627321892772128|
|q5EPifZQK8I|BALI DU K√ù |Du l·ªã...| 0.05039767513000918|
|xXTcKSxGClQ|Khoai ƒëi l√†m nh√¢n...| 0.04872383460159695|
|TrbtMqHSmcc|800 NG√ÄY ƒêI KH·∫ÆP ...| 0.04163283890996895|
|wjDs5zwRlMA|(Official Music V...| 0.03859600280123764|
|kL-XgVsV8EI|Chiang Mai - Khoa...| 0.03678875611256841|
|zMn9mithu84|Bi·ªÉn hoa kh·ªïng l·ªì...| 0.03601119164946227|
|CnlXly4_b9Y|K·ª∑ ni·ªám 1000 subs...|0.032958957796567115|
|quZy6AhGmEc|KHOAI LANG THANG ...|0.032448847884032295|
|OWlik0yAwoc|Cu·ªôc s·ªëng B·∫£n Ph√π...| 0.03187260153091588|
|JYULx2AItoI|(Lofi Ver.) 'em v...| 0.03140695915279879|
|SYcnSZfXwWw|Em vaÃÄ NhuÃõÃÉng Ng...|0.030660321797922212|
|RvMcyBS8SgU|N·∫•u Buffet cho em...|0.030424938025804687|
|5ta7YnZ1K_o|Kh√°m ph√° S∆°n La, ...|0.030185685932506125|
|V_2_CPiTDR4|N·∫•u ti·ªác Mi·ªÅn T√¢y...|  0.0295407755862526|
|T02aU8qpshQ|10 nƒÉm & B√ç M·∫¨T C...| 0.02926931746921145|
|SLpU2LGv54g|(Official MV) Em ...|0.029211199642519933|
|wX-TrSDnAys|Ti·ªác n∆∞·ªõng d√£ chi...| 0.02893649585103135|
+-----------+--------------------+--------------------+
only showing top 20 rows

1.7. T·ªâ l·ªá t∆∞∆°ng t√°c theo category

- S·ª≠ d·ª•ng spark dataframe

In [38]:
from pyspark.sql.functions import expr
# D√πng groupBy v·ªõi selectExpr gi√°n ti·∫øp
df_aggregated = df_clean.groupBy("Category_ID").agg(
    expr("SUM(`Like Count`) as Total_Likes"),
    expr("SUM(`Comment Count`) as Total_Comments"),
    expr("SUM(`View Count`) as Total_Views")
)

# Sau ƒë√≥ d√πng selectExpr ƒë·ªÉ t√≠nh Ti_le_tuong_tac
df_tuong_tac_category = df_aggregated.selectExpr(
    "Category_ID",
    "(Total_Likes + Total_Comments) / Total_Views as Ti_le_tuong_tac"
).orderBy("Ti_le_tuong_tac", ascending=False)

df_tuong_tac_category.show()

+-----------+--------------------+
|Category_ID|     Ti_le_tuong_tac|
+-----------+--------------------+
|         22| 0.03472955984999761|
|         10| 0.03354419282057888|
|         15|  0.0142716459197787|
|         19|0.012093535571253625|
|         24|0.010745450949184531|
+-----------+--------------------+

- S·ª≠ d·ª•ng spark sql

In [39]:
# D√πng groupBy v·ªõi selectExpr gi√°n ti·∫øp

spark.sql("""SELECT 
                Category_ID,
                (SUM(`Like Count`)+ SUM(`Comment Count`))/SUM(`View Count`) as Ti_le_tuong_tac
            FROM 
                Video
            GROUP BY 
                Category_ID
            ORDER BY
                Ti_le_tuong_tac DESC
            """).show()

+-----------+--------------------+
|Category_ID|     Ti_le_tuong_tac|
+-----------+--------------------+
|         22| 0.03472955984999761|
|         10| 0.03354419282057888|
|         15|  0.0142716459197787|
|         19|0.012093535571253625|
|         24|0.010745450949184531|
+-----------+--------------------+

1.8. L∆∞·ª£t View, Like, Comment trung b√¨nh cho m·ªói video

- S·ª≠ d·ª•ng spark dataframe

In [40]:
from pyspark.sql.functions import expr

View_tb = df_clean.agg( 
                            (expr("COUNT(`Video ID`)")).alias("Total_Video"),
                            (expr("SUM(`View Count`)")).alias("Total_View"),
                            (expr("SUM(`View Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Views_Per_Video"),
                            (expr("SUM(`Like Count`)")).alias("Total_Like"),
                            (expr("SUM(`Like Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Likes_Per_Video"),
                            (expr("SUM(`Comment Count`)")).alias("Total_Comment"),
                            (expr("SUM(`Comment Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Comment_Per_Video")
)

View_tb.show()

+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|Total_Video|Total_View|Average_Views_Per_Video|Total_Like|Average_Likes_Per_Video|Total_Comment|Average_Comment_Per_Video|
+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|        284| 644093647|     2267935.3767605633|   7646125|     26922.975352112677|       449282|       1581.9788732394366|
+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+

- S·ª≠ d·ª•ng spark sql

In [41]:
from pyspark.sql.functions import expr

spark.sql("""
    SELECT 
        COUNT(`Video ID`) AS Total_Video,
        SUM(`View Count`) AS Total_View,
        SUM(`View Count`) / COUNT(`Video ID`) AS Average_Views_Per_Video,
        SUM(`Like Count`) AS Total_Like,
        SUM(`Like Count`) / COUNT(`Video ID`) AS Average_Likes_Per_Video,
        SUM(`Comment Count`) AS Total_Comment,
        SUM(`Comment Count`) / COUNT(`Video ID`) AS Average_Comment_Per_Video
    FROM video
""").show()

+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|Total_Video|Total_View|Average_Views_Per_Video|Total_Like|Average_Likes_Per_Video|Total_Comment|Average_Comment_Per_Video|
+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|        284| 644093647|     2267935.3767605633|   7646125|     26922.975352112677|       449282|       1581.9788732394366|
+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+

1.9. T√≠nh view trung b√¨nh, s·ªë l∆∞·ª£ng like trung b√¨nh, s·ªë l∆∞·ª£ng comment trung b√¨nh cho m·ªói video theo t·ª´ng nƒÉm

- S·ª≠ d·ª•ng spark dataframe

In [42]:
from pyspark.sql.functions import expr

View_tb_year = df_clean.groupby("Year")\
                        .agg( 
                            (expr("COUNT(`Video ID`)")).alias("Total_Video"),
                            (expr("SUM(`View Count`)")).alias("Total_View"),
                            (expr("SUM(`View Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Views_Per_Video"),
                            (expr("SUM(`Like Count`)")).alias("Total_Like"),
                            (expr("SUM(`Like Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Likes_Per_Video"),
                            (expr("SUM(`Comment Count`)")).alias("Total_Comment"),
                            (expr("SUM(`Comment Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Comment_Per_Video"))\
                        .orderBy("year")

View_tb_year.show()

+----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|Year|Total_Video|Total_View|Average_Views_Per_Video|Total_Like|Average_Likes_Per_Video|Total_Comment|Average_Comment_Per_Video|
+----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|2017|         48|  53855107|     1121981.3958333333|    566504|     11802.166666666666|        45151|        940.6458333333334|
|2018|         58| 137904607|     2377665.6379310344|   1335530|     23026.379310344826|        94382|       1627.2758620689656|
|2019|         50| 107469646|             2149392.92|   1610016|               32200.32|       112736|                  2254.72|
|2020|         28|  68516080|     2447002.8571428573|    952112|                34004.0|        59969|                  2141.75|
|2021|         16|  38998764|             2437422.75|    513688|                32105.5|        30475|                1904.6875|
|2022|         26|  75388408|      2899554.153846154|    825044|      31732.46153846154|        28268|       1087.2307692307693|
|2023|         35|  97253424|      2778669.257142857|   1022222|     29206.342857142856|        39298|                   1122.8|
|2024|         23|  64707611|     2813374.3913043477|    821009|      35696.04347826087|        39003|       1695.7826086956522|
+----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+

- S·ª≠ d·ª•ng spark sql

In [43]:
from pyspark.sql.functions import expr

spark.sql("""
    SELECT 
        YEAR(`Published At`) as Year,
        COUNT(`Video ID`) AS Total_Video,
        SUM(`View Count`) AS Total_View,
        SUM(`View Count`) / COUNT(`Video ID`) AS Average_Views_Per_Video,
        SUM(`Like Count`) AS Total_Like,
        SUM(`Like Count`) / COUNT(`Video ID`) AS Average_Likes_Per_Video,
        SUM(`Comment Count`) AS Total_Comment,
        SUM(`Comment Count`) / COUNT(`Video ID`) AS Average_Comment_Per_Video
    FROM video
    GROUP BY Year
    ORDER BY Year
""").show()

+----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|Year|Total_Video|Total_View|Average_Views_Per_Video|Total_Like|Average_Likes_Per_Video|Total_Comment|Average_Comment_Per_Video|
+----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|2017|         48|  53855107|     1121981.3958333333|    566504|     11802.166666666666|        45151|        940.6458333333334|
|2018|         58| 137904607|     2377665.6379310344|   1335530|     23026.379310344826|        94382|       1627.2758620689656|
|2019|         50| 107469646|             2149392.92|   1610016|               32200.32|       112736|                  2254.72|
|2020|         28|  68516080|     2447002.8571428573|    952112|                34004.0|        59969|                  2141.75|
|2021|         16|  38998764|             2437422.75|    513688|                32105.5|        30475|                1904.6875|
|2022|         26|  75388408|      2899554.153846154|    825044|      31732.46153846154|        28268|       1087.2307692307693|
|2023|         35|  97253424|      2778669.257142857|   1022222|     29206.342857142856|        39298|                   1122.8|
|2024|         23|  64707611|     2813374.3913043477|    821009|      35696.04347826087|        39003|       1695.7826086956522|
+----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+

1.10. T√≠nh view trung b√¨nh, s·ªë l∆∞·ª£ng like trung b√¨nh, s·ªë l∆∞·ª£ng comment trung b√¨nh cho m·ªói video theo t·ª´ng nƒÉm/th√°ng

- S·ª≠ d·ª•ng spark dataframe

In [44]:
from pyspark.sql.functions import expr

View_Like_Comment_tb_year_month = df_clean.groupby("Year","month")\
                        .agg( 
                            (expr("COUNT(`Video ID`)")).alias("Total_Video"),
                            (expr("SUM(`View Count`)")).alias("Total_View"),
                            (expr("SUM(`View Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Views_Per_Video"),
                            (expr("SUM(`Like Count`)")).alias("Total_Like"),
                            (expr("SUM(`Like Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Likes_Per_Video"),
                            (expr("SUM(`Comment Count`)")).alias("Total_Comment"),
                            (expr("SUM(`Comment Count`)") / expr("COUNT(`Video ID`)")).alias("Average_Comment_Per_Video"))\
                        .orderBy("year","month")

View_Like_Comment_tb_year_month.show()

+----+-----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|Year|month|Total_Video|Total_View|Average_Views_Per_Video|Total_Like|Average_Likes_Per_Video|Total_Comment|Average_Comment_Per_Video|
+----+-----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|2017|    2|          2|   1224273|               612136.5|     13479|                 6739.5|         1217|                    608.5|
|2017|    3|          5|   4008293|               801658.6|     40684|                 8136.8|         2694|                    538.8|
|2017|    4|          5|   2757327|               551465.4|     29915|                 5983.0|         2252|                    450.4|
|2017|    5|          3|   1821947|      607315.6666666666|     18036|                 6012.0|         1047|                    349.0|
|2017|    6|          8|   5491449|             686431.125|     56805|               7100.625|         3713|                  464.125|
|2017|    7|          3|   2188194|               729398.0|     22539|                 7513.0|         2078|        692.6666666666666|
|2017|    8|          5|   4547832|               909566.4|     60288|                12057.6|         5433|                   1086.6|
|2017|    9|          7|  10114421|     1444917.2857142857|    101419|      14488.42857142857|         5020|        717.1428571428571|
|2017|   10|          4|   6767902|              1691975.5|     79706|                19926.5|         7511|                  1877.75|
|2017|   11|          1|   5891310|              5891310.0|     46856|                46856.0|         3031|                   3031.0|
|2017|   12|          5|   9042159|              1808431.8|     96777|                19355.4|        11155|                   2231.0|
|2018|    1|          5|  18087910|              3617582.0|    157047|                31409.4|        11481|                   2296.2|
|2018|    2|          4|  10724967|             2681241.75|     95549|               23887.25|         8519|                  2129.75|
|2018|    3|          4|   8403608|              2100902.0|     85350|                21337.5|         6781|                  1695.25|
|2018|    4|          5|   7973709|              1594741.8|    101371|                20274.2|         5638|                   1127.6|
|2018|    5|          5|  15473556|              3094711.2|    119264|                23852.8|         9424|                   1884.8|
|2018|    6|          5|   8909910|              1781982.0|    101205|                20241.0|         9402|                   1880.4|
|2018|    7|          5|  11923545|              2384709.0|    114958|                22991.6|         7885|                   1577.0|
|2018|    8|          5|  12074053|              2414810.6|    101401|                20280.2|         7926|                   1585.2|
|2018|    9|          5|  11279287|              2255857.4|    100743|                20148.6|         7537|                   1507.4|
+----+-----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
only showing top 20 rows

- S·ª≠ d·ª•ng spark sql

In [45]:
from pyspark.sql.functions import expr

spark.sql("""
    SELECT 
        YEAR(`Published At`) as Year,
        MONTH(`Published At`) as Month,
        COUNT(`Video ID`) AS Total_Video,
        SUM(`View Count`) AS Total_View,
        SUM(`View Count`) / COUNT(`Video ID`) AS Average_Views_Per_Video,
        SUM(`Like Count`) AS Total_Like,
        SUM(`Like Count`) / COUNT(`Video ID`) AS Average_Likes_Per_Video,
        SUM(`Comment Count`) AS Total_Comment,
        SUM(`Comment Count`) / COUNT(`Video ID`) AS Average_Comment_Per_Video
    FROM video
    GROUP BY Year, Month
    ORDER BY Year, Month
""").show()

+----+-----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|Year|Month|Total_Video|Total_View|Average_Views_Per_Video|Total_Like|Average_Likes_Per_Video|Total_Comment|Average_Comment_Per_Video|
+----+-----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
|2017|    2|          2|   1224273|               612136.5|     13479|                 6739.5|         1217|                    608.5|
|2017|    3|          5|   4008293|               801658.6|     40684|                 8136.8|         2694|                    538.8|
|2017|    4|          5|   2757327|               551465.4|     29915|                 5983.0|         2252|                    450.4|
|2017|    5|          3|   1821947|      607315.6666666666|     18036|                 6012.0|         1047|                    349.0|
|2017|    6|          8|   5491449|             686431.125|     56805|               7100.625|         3713|                  464.125|
|2017|    7|          3|   2188194|               729398.0|     22539|                 7513.0|         2078|        692.6666666666666|
|2017|    8|          5|   4547832|               909566.4|     60288|                12057.6|         5433|                   1086.6|
|2017|    9|          7|  10114421|     1444917.2857142857|    101419|      14488.42857142857|         5020|        717.1428571428571|
|2017|   10|          4|   6767902|              1691975.5|     79706|                19926.5|         7511|                  1877.75|
|2017|   11|          1|   5891310|              5891310.0|     46856|                46856.0|         3031|                   3031.0|
|2017|   12|          5|   9042159|              1808431.8|     96777|                19355.4|        11155|                   2231.0|
|2018|    1|          5|  18087910|              3617582.0|    157047|                31409.4|        11481|                   2296.2|
|2018|    2|          4|  10724967|             2681241.75|     95549|               23887.25|         8519|                  2129.75|
|2018|    3|          4|   8403608|              2100902.0|     85350|                21337.5|         6781|                  1695.25|
|2018|    4|          5|   7973709|              1594741.8|    101371|                20274.2|         5638|                   1127.6|
|2018|    5|          5|  15473556|              3094711.2|    119264|                23852.8|         9424|                   1884.8|
|2018|    6|          5|   8909910|              1781982.0|    101205|                20241.0|         9402|                   1880.4|
|2018|    7|          5|  11923545|              2384709.0|    114958|                22991.6|         7885|                   1577.0|
|2018|    8|          5|  12074053|              2414810.6|    101401|                20280.2|         7926|                   1585.2|
|2018|    9|          5|  11279287|              2255857.4|    100743|                20148.6|         7537|                   1507.4|
+----+-----+-----------+----------+-----------------------+----------+-----------------------+-------------+-------------------------+
only showing top 20 rows

1.11. 	T√¨m ra 3 video ƒë∆∞·ª£c xem nhi·ªÅu nh·∫•t m·ªói nƒÉm

- S·ª≠ d·ª•ng spark dataframe

In [46]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

video_with_year=df_clean.drop("month","Channel Title", "Like Count", "Comment Count")
window_spec=Window.partitionBy("year").orderBy(col("View Count").desc())
rank_video=video_with_year.withColumn("rank", row_number().over(window_spec))

top_video=rank_video.filter(col("rank")<=3)
result=top_video.orderBy("year")
result.show()

+-----------+--------------------+-----------+-------------------+----------+----+----+
|   Video ID|               Title|Category_ID|       Published At|View Count|year|rank|
+-----------+--------------------+-----------+-------------------+----------+----+----+
|7txU8f9Dl5c|ƒÇN BUFFET 5 SAO ·ªû...|         19|2017-11-03 18:26:06|   5891310|2017|   1|
|4V4KjfmH5vw|ƒê·∫∂C S·∫¢N QU√ù HI·∫æM ...|         19|2017-12-09 17:23:17|   4210885|2017|   2|
|78uRq9DW6Eo|18 m√≥n ƒÉn Th√°i La...|         24|2017-09-27 18:54:32|   3171014|2017|   3|
|5QCsAh9Eays|ƒÇN NGON & R·∫∫ KH√îN...|         19|2018-05-25 18:57:58|   7891063|2018|   1|
|O8nVnHlmhCM|CH·ª¢ CH√ÇU ƒê·ªêC ‚Ä¢ TH...|         19|2018-01-03 18:46:55|   7403760|2018|   2|
|S07VinbxN3g|CUA HO√ÄNG ƒê·∫æ, B√ÄO...|         19|2018-12-07 18:15:59|   5235118|2018|   3|
|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|         24|2019-11-22 18:30:12|   8107261|2019|   1|
|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|         19|2019-06-22 06:53:05|   6516807|2019|   2|
|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|         19|2019-01-11 19:11:16|   6045537|2019|   3|
|L4HWqGQxIj4|M√≥n ngon s√¥ng n∆∞·ªõ...|         19|2020-10-25 14:01:39|   5281038|2020|   1|
|rgtYBNml5ts|24h s·ªëng tr√™n b√® ...|         19|2020-07-20 18:06:50|   4790384|2020|   2|
|r3UJ3Uc9VqM|NaÃÇÃÅu aÃÜn cuÃÄng n...|         19|2020-02-17 20:43:11|   4709265|2020|   3|
|MZxiqm-JkfY|B√°nh ƒë√∫c th·ªß c√¥ng...|         19|2021-07-10 10:50:24|   4924649|2021|   1|
|ENSLITZnc6w|Cu·ªôc s·ªëng NƒÉm CƒÉn...|         19|2021-08-07 21:32:35|   4244863|2021|   2|
|6S3pp7oLmog|Du l·ªãch Ngh·ªá An: ...|         19|2021-03-06 20:58:37|   4057795|2021|   3|
|3i3cDuGayqg|üá∞üá∑Ch·ª£ Gwangjang...|         19|2022-12-25 22:30:15|   7680470|2022|   1|
|CRvD8dOBmx8|üáπüá≠AÃÜn saÃ£ÃÇp Tha...|         19|2022-05-09 20:00:15|   5156894|2022|   2|
|ILRRwwnbLyc|B·∫Øc H√† Du K√Ω P2: ...|         19|2022-07-15 21:07:43|   4737494|2022|   3|
|hK-s3LsZcFc|üáπüá≠Ch·ª£ ƒë√™m bi√™n ...|         19|2023-09-19 21:54:27|   6804373|2023|   1|
|zc3A_CxSyc4|N·∫•u ƒë√°m mi·ªát v∆∞·ªùn...|         19|2023-08-19 10:26:01|   5575163|2023|   2|
+-----------+--------------------+-----------+-------------------+----------+----+----+
only showing top 20 rows

- S·ª≠ d·ª•ng spark sql

In [47]:
spark.sql("""SELECT  *
             FROM 
                 (SELECT
                        YEAR(`Published At`) as Year,
                        `Video ID`,
                        Title,
                        `View Count`,
                        ROW_NUMBER() OVER (PARTITION BY YEAR(`Published At`) ORDER BY `View Count` DESC) AS rank
                    FROM 
                        video) as rank_video
             WHERE rank <=3
             ORDER BY Year""").show()

+----+-----------+--------------------+----------+----+
|Year|   Video ID|               Title|View Count|rank|
+----+-----------+--------------------+----------+----+
|2017|7txU8f9Dl5c|ƒÇN BUFFET 5 SAO ·ªû...|   5891310|   1|
|2017|4V4KjfmH5vw|ƒê·∫∂C S·∫¢N QU√ù HI·∫æM ...|   4210885|   2|
|2017|78uRq9DW6Eo|18 m√≥n ƒÉn Th√°i La...|   3171014|   3|
|2018|5QCsAh9Eays|ƒÇN NGON & R·∫∫ KH√îN...|   7891063|   1|
|2018|O8nVnHlmhCM|CH·ª¢ CH√ÇU ƒê·ªêC ‚Ä¢ TH...|   7403760|   2|
|2018|S07VinbxN3g|CUA HO√ÄNG ƒê·∫æ, B√ÄO...|   5235118|   3|
|2019|v32lFxUUV5o|ƒê√°m C∆∞·ªõi Mi·ªát V∆∞·ªù...|   8107261|   1|
|2019|TyzP2yUATuM|ƒê√°m gi·ªó b√™n c·ªìn t...|   6516807|   2|
|2019|a-2iTFdtnvk|Cu·ªôc s·ªëng b·∫£n Ph√π...|   6045537|   3|
|2020|L4HWqGQxIj4|M√≥n ngon s√¥ng n∆∞·ªõ...|   5281038|   1|
|2020|rgtYBNml5ts|24h s·ªëng tr√™n b√® ...|   4790384|   2|
|2020|r3UJ3Uc9VqM|NaÃÇÃÅu aÃÜn cuÃÄng n...|   4709265|   3|
|2021|MZxiqm-JkfY|B√°nh ƒë√∫c th·ªß c√¥ng...|   4924649|   1|
|2021|ENSLITZnc6w|Cu·ªôc s·ªëng NƒÉm CƒÉn...|   4244863|   2|
|2021|6S3pp7oLmog|Du l·ªãch Ngh·ªá An: ...|   4057795|   3|
|2022|3i3cDuGayqg|üá∞üá∑Ch·ª£ Gwangjang...|   7680470|   1|
|2022|CRvD8dOBmx8|üáπüá≠AÃÜn saÃ£ÃÇp Tha...|   5156894|   2|
|2022|ILRRwwnbLyc|B·∫Øc H√† Du K√Ω P2: ...|   4737494|   3|
|2023|hK-s3LsZcFc|üáπüá≠Ch·ª£ ƒë√™m bi√™n ...|   6804373|   1|
|2023|zc3A_CxSyc4|N·∫•u ƒë√°m mi·ªát v∆∞·ªùn...|   5575163|   2|
+----+-----------+--------------------+----------+----+
only showing top 20 rows